/* ------------------------------- 1. Global Styles -------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto:wght@300;400;700&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* --------------- 1.2 Colors ------------------- */

:root {
    --main-focus-color: #5722CD;
    --main-button-color: #ED4385;
    --main-font-color-light: white;
    --main-font-color-dark: #0C0C0C;
    --main-font-color-medium:#7A7A7A;
    --main-background-color-darker: #F3F6F9;
    --main-shadow-focus-color: #451ba2;
    --main-shadow-color: #a8a8a8;
    --main-shadow-color-light: #d7d5d5;
    --main-gradient-color: linear-gradient(to right, rgb(74, 73, 231), rgb(87, 34, 205));
}

/* --------------- 1.3 Setup Borders (temporary) ------------------- */

header,
.main__outer-container {
    border: 3px solid red;
}

.header___inner-container,
.main__inner-container,
.main__about-section,
.main__services--inner-container,
.footer__inner-container,
.footer__form--form,
.footer__form {
    border: 3px solid greenyellow;
}

.navigation,
.header___hero-section,
.header___squiggle-line,
.main__paragraph--about-section,
.main__paragraph--cta-line,
#main__content-section {
    border: 3px solid yellow;
}

.main__content-article {
    border: 3px solid blue;
}


/* ------------------------------- 2. Typography ----------------------------------- */
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

body a {
    text-decoration: none;
    color: var(--main-focus-color);
}

h1,
h2,
h3,
h4 {
    font-family: 'Merriweather', serif;
}

h1 {
    /*margin: 20px;*/
    margin-left: 2px;
    font-size: 70px;
}

h1::first-letter {
    text-transform: uppercase;
}

@media screen and (min-width: 1200px){
    h1 {
        font-size: 32px;
        margin: 20px;
    }
}

h3::first-letter {
    text-transform: uppercase;
}

nav {
    text-transform: capitalize;
}

button {
    font-family: inherit;
}

h2 {
    margin: 10px 0 10px 0;
}



@media screen and (min-width: 1200px){
    h2 {
        font-size: 24px;
    }
}

h3 {
    color: var(--main-font-color-light);
    font-size: 2em;
    margin: 0.5em;
    text-align: center;
}

h4 {
    color: var(--main-focus-color);
    font-size: 18px;
}

.navigation__list-items {
    text-align: center;
}

.navigation___link {
    color: var(--main-font-color-light);
    font-weight: 700;
    font-size: 30px;
    text-decoration: none;
}

@media screen and (min-width: 1200px){
    .navigation___link {
        font-size: 14px;
    }
}

.main__paragraph--h2 {
    font-size: 42px;
}

.main__paragraph--cta-line {
    font-size: 35px;
}

@media screen and (min-width: 1200px){
    .main__paragraph--h2 {
        font-size: 24px;
    }
    .main__paragraph--cta-line {
        font-size: 16px;
    }
}

.main__content-article--header {
    text-transform: capitalize;
}

.content-article--link {
    display: block;
    margin: 40px 40px 40px 0;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 11px;
    letter-spacing: 1px;
}

.services__block--paragraph {
    color: var(--main-font-color-medium);
    margin-top: 2em;
    font-size: 12px;
}

.footer__copyright-paragraph {
    text-align: center;
    color: var(--main-font-color-light);
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 1px;
}

.footer__form--paragraph {
    text-align: center;
    color: var(--main-font-color-light);
    font-weight: 300;
    margin: 0.5em;
}

.footer__form--form {
    color: var(--main-font-color-light);
    font-size: 11px;
}

input[type=text],
textarea {
    font-family: Roboto, sans-serif;
}

@media screen and (min-width: 1200px){

}
/* ------------------------------- 3. Layout --------------------------------------- */

.main__inner-container a:link{
    color: var(--main-focus-color);
}

.main__inner-container a:visited{
    color: var(--main-shadow-focus-color);
}

.main__outer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width: 100%;
}

.main__cta-button {
    background-color: var(--main-button-color);
    padding: 40px 90px;
    margin: 20px;
    border: none;
    border-radius: 60px;
    color: var(--main-font-color-light);
    text-transform: uppercase;
    cursor: pointer;
    /*font-size: 12px;*/
    font-size: 29px;
    box-shadow: 0 8px 10px var(--main-shadow-focus-color);
}

@media screen and (min-width: 1200px){
    .main__cta-button {
        padding: 15px 30px;
        border-radius: 30px;
        margin: 20px;
        font-size: 12px;
    }
}

.main__cta-button--footer {
    padding: 15px 60px;
}

/* ------------------------------- 4. Areas --------------------------------------- */

/* --------------- 4.1 Header ------------------- */

.header___outer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    /*min-height: 400px;*/
    background-image: var(--main-gradient-color);
    color: var(--main-font-color-light);
}

.header___inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*flex-basis: 1200px;*/
    /*flex-basis: 142vh;*/
    height: 67vh;
}

/*hoogte header*/
@media screen and (min-width: 1200px) {
    .header___inner-container {
        flex-basis: 1200px;
    }
    .header___outer-container {
        height: 550px;
    }
}

/* --------------- 4.2 Header-Navigation ------------------- */
.navigation {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /*align-self: flex-end;*/
}

.navigation___list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 2em;
    margin: 4em 2em;
    width: 100%;
}

@media screen and (min-width: 1200px) {
    .navigation___list {
        justify-content: flex-end;
        margin: 1em 2em;
    }
}


.navigation___link:visited{
    color: var(--main-font-color-light);
}

/* --------------- 4.2 Header-Hero-section ------------------- */

.header___inner-container {
    /*max-width: 1200px;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (min-width: 1200px){
    .header___inner-container {
        max-width: 1200px;
        height: 100%;
    }
}

.header___hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*margin: 2em;*/
    width: 100%;
    position: relative;
    top: -42px;
}

@media screen and (min-width: 1200px){
    .header___hero-section {
        width: 60%;
        margin: 2em;
        top: 0;
    }
}

.header___hero-section > h1 {
    text-align: center;
}

.header___hero-section-paragraph {
    font-size: 54px;
    font-weight: 300;
    text-align: center;
    width: 100%;
    margin: 1em;
}

@media screen and (min-width: 1200px){
    .header___hero-section-paragraph {
        margin: 0.5em;
        font-size: 18px;
    }
}

.header___squiggle-line {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1em;
    height: 200px;
}

.squiggle-line {
    height: 150%;
}

@media screen and (min-width: 1200px){
    .squiggle-line {
        height: 70%;
    }
}

/* --------------- 4.3 Main-About-section ------------------- */

.main__inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media screen and (min-width: 1200px){
    .main__inner-container {
        flex-basis: 1200px;
    }
}

.main__about-section {
    /*margin: 40px 10px;*/
    padding: 40px 10px;
    /*flex-shrink: 0;*/
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 54vh;
}

@media screen and (min-width: 1200px){
    .main__about-section {
        flex-basis: 500px;
    }
}

.main__paragraph--about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1200px){
    .main__paragraph--about-section {
        width: 70%;
    }
}

.main__paragraph--h2 {
    color: var(--main-focus-color);
    text-align: center;
    margin: 40px;
    padding: 0 20px 0 20px;
    width: 100%;
}

@media screen and (min-width: 1200px){
    .main__paragraph--h2 {
        margin: 30px 10px;
        padding: 0 20px 0 20px;
    }
}

.main__paragraph--cta-line {
    color: var(--main-font-color-dark);
    text-align: center;
    margin: 70px;
    padding: 30px;
}

@media screen and (min-width: 1200px){
    .main__paragraph--cta-line {
        margin: 0;
    }
}

/* --------------- 4.3 Main-Articles-section------------------- */

#main__content-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*max-width: 1200px;*/
    width: 100%;
    background-color: var(--main-background-color-darker) ;
}

@media screen and (min-width: 1200px){
    #main__content-section {
        max-width: 1200px;
    }
}

.main__content-article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /*min-height: 500px;*/
    width: 100%;
}

@media screen and (min-width: 1200px) {
    .main__content-article {
        min-height: 500px;
    }
}

.main__content-article--block,
.content-article__block2 {
    flex-basis: 100px;
    margin: 10px;
    /*margin: 110px 140px 80px 50px;*/
    /*padding-right: 100px;*/
    flex-grow: 1;
}

@media screen and (min-width: 1200px){
    .main__content-article--block {
        margin: 110px 140px 80px 50px;
        padding-right: 100px;
    }
    .content-article__block2 {
        margin: 110px 50px 80px 180px;
    }
}

/*.content-article__block2 {*/
/*    margin: 110px 50px 80px 180px;*/
/*}*/

.main__content-article--image > img {
    /*width: 600px;*/
    /*height: auto;*/
    width: 100%;
    height: auto;
    box-shadow: 0 20px 30px -10px var(--main-shadow-color);
}

@media screen and (min-width: 1200px){
    .main__content-article--image > img {
        width: 600px;
        height: auto;
    }
}

.main__content-article--image {
    /*flex-shrink: 0;*/
    position: relative;
    margin: 12px;
    order: -1;
}

/*.content-article__image1 {*/
/*    top: 25px;*/
/*    margin-right: 10px;*/
/*}*/

/*.content-article__image2 {*/
/*    padding-left: 10px;*/
/*    order: -1;*/
/*}*/

/*.content-article__image3 {*/
/*    top: -30px;*/
/*    margin-right: 10px;*/
/*}*/

@media screen and (min-width: 1200px){
    .content-article__image1 {
        top: 25px;
        margin-right: 10px;
    }

    .content-article__image2 {
        padding-left: 10px;
        order: 1;
    }

    .content-article__image3 {
        top: -30px;
        margin-right: 10px;
    }
}

.main__content-article--squiggle-line {
    margin: 20px 0 40px 0;
}

/* --------------- 4.4 Main-Services------------------- */

#main__services--inner-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    /*max-width: 1200px;*/
    width: 100%;
    gap: 2em;
    /*padding: 50px 100px 50px 100px;*/
    padding: 50px 0 50px 0;
}

@media screen and (min-width: 1200px){
    #main__services--inner-container {
        max-width: 1200px;
        padding: 50px 100px 50px 100px;
    }
}

.services--block {
    /*flex-basis: 300px;*/
    /*height: 300px;*/
    border: 1px solid var(--main-focus-color);
    /*flex-grow: 0;*/
    /*flex-grow: 1;*/
    /*flex-shrink: 1;*/
    padding: 2em 2em 2em 2em;
    margin: 0 40px 0 40px;
    box-shadow: 0 20px 30px -10px var(--main-shadow-color-light);
    aspect-ratio: 1 / 1;
}

@media screen and (min-width: 1200px){
    .services--block {
        flex-basis: 300px;
        height: 300px;
        flex-grow: 0;
        margin: 0;
    }
}

.services--block > img {
    width: 4em;
    margin: 1em 1em 0.5em 0;
}

/*.services__inner-container--row1 {*/
/*    flex-shrink: 0;*/
/*}*/

/* --------------- 4.5 Footer-Form------------------- */

#footer__outer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: var(--main-gradient-color);
    width: 100%;
}

.footer__inner-container {
    /*width: 1200px;*/
    /*flex-basis: 600px;*/
    width: 100%;
}

@media screen and (min-width: 1200px){
    .footer__inner-container {
        width: 1200px;
        flex-basis: 600px;
    }
}

.footer__form,
.footer__inner-container,
.footer__form--form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__form {
    /*width: 60%;*/
    /*max-width: 700px;*/
    width: 95%;
    margin-top: 2em;
    margin-bottom: 2em;
}

@media screen and (min-width: 1200px){
    .footer__form {
        width: 60%;
        max-width: 700px;
    }
}

.footer__form--form {
    width: 100%;
    margin: 2em 0 2em 0;
}

.form__input {
    width: 100%;
}

label {
    margin: 1em;
}

input[type=text],
textarea {
    padding: 1em;
    border-radius: 2px;
    border: none;
    resize: none;
}

/* --------------- 4.5 Footer-Copyright-section------------------- */

.footer__copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: var(--main-font-color-dark);
    height: 2em;
}

